@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to UCOL - Universal College Of Learning. Here you can view courses and enrolments available to you to perhaps try and find something that you may wish to make a career out of.
    UCOL offer many different career paths to help people across the country to find a path in life that they can enjoy. UCOL offer courses from level 3 to level 7 in many different areas ranging 
    from Beauty to nursing to I.T. Stop by today to find out what course is best for you.</p>
<hr>
<p>For further enquiries contact UCOl at:</p>
    <p>ucol@ucol.ac.nz</p>
<p>or phone us at:</p>
<p>(06) 345 1997</p>
