@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to UCOL - Universal College Of Learning. Here you can view courses and enrolments to perhaps try and find something that you may wish to </p>
